<div class="alert-tip">
  <div class="alert-tip-title">Совет</div>
  <ul class="m-0">
    <li><code>.col-*</code> где <code>*</code> значение может быть <code>{ sm | md | lg | xl | xxl }</code></li>
    <li><code>.col-#</code> где <code>#</code> значение может быть от <code>1 до 12</code></li>
    <li><code>.bg-{color}</code> где <code>color</code> значение может быть <code>{ primary | secondary | success | danger | warning | info | light | dark }</code></li>
    <li>Класс <code>.bd-highlight</code> предназначен только для демонстрационных целей</li>
  </ul>
</div>
