- var bodyCustomClass         = ''
- var showAlert    = false

doctype html
html(lang="ru")
    //- BEGIN: Head
    head
        block meta
            include includes/head.pug
        block styles
            include includes/styles.pug
        block metrics
            include partials/gtm-head.html
    //- END: Head
    = '\n'
    //- BEGIN: Body
    body.bs-cheatsheet(class=bodyCustomClass)
        //- BEGIN: Header
        block header
          include partials/gtm-body.html
          include partials/header.pug
        //- END: Header
        main
          include partials/masthead.html

          //- BEGIN: Content
          .container.bs-content
            include contents/filters.html
            include contents/notification.html
            #grid.row
              block content
            include partials/no-items-found.html
            if showAlert
              include partials/alert-tip.html
          //- END: Content

    //- BEGIN: Footer
    block footer
        include partials/footer.html
    //- END: Footer

    block scripts
        include includes/scripts.pug
